.app-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #F7F3FC;
}

.main-content {
  flex: 1;
  margin-left: 255px;
  min-height: 100vh;
  padding: 25px;
  background-color: #F7F3FC;
}